<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()">
<% 
    return "playlist_course"
%>
</%def>
<%namespace name='static' file='static_content.html'/>

<%!
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.markup import HTML, Text
  from openedx.core.djangolib.js_utils import (
      dump_js_escaped_json, js_escaped_string
  )
  from django.core.urlresolvers import reverse
%>
<%block name="title">
    ${_("Playlist Export")}
</%block>
<%block name="bodyclass">is-signedin course tools view-export</%block>

<%block name="requirejs">
% if in_err:
  var hasUnit = ${bool(unit) | n, dump_js_escaped_json},
      editUnitUrl = "${edit_unit_url | n, js_escaped_string}",
      courselikeHomeUrl = "${courselike_home_url | n, js_escaped_string}",
      is_library = ${library | n, dump_js_escaped_json}
      errMsg = "${raw_err_msg | n, js_escaped_string}";

  require(["js/factories/export"], function(ExportFactory) {
      ExportFactory(hasUnit, editUnitUrl, courselikeHomeUrl, is_library, errMsg);
  });
%endif
</%block>

<%block name="content">
<div class="wrapper-mast wrapper">
  <header class="mast has-subtitle">
    <h1 class="page-header">
      <small class="subtitle">${_("Tools")}</small>
        <span class="sr">&gt; </span>
        ${_("Playlist")}
    </h1>
  </header>
</div>

<%
	course_key = context_course.id
	course_insert_url = reverse('contentstore.views.course_insert_handler', kwargs={'course_key_string': unicode(course_key)})
%>

<div class="wrapper-content wrapper">
  <section class="content">
    <article class="content-primary" role="main">

      <div class="introduction">
          <h2 class="title">${_("About Exporting Courses")}</h2>
	<div id="libraries_name" value="${libraries_display_name}">
	</div>
	<div id="libraries_module" value="${libraries_module}">
	</div>
	<div id="course_url_string" value="${course_insert_url}">
	</div>
	<p>
		Please choose a library:
		<select id="libraries">
		</select>
		<script>
			var name = document.getElementById('libraries_name').attributes["value"].value;
			var names = name.split("&");
			var libraries = document.getElementById('libraries');
			for (library in names) {
				libraries.options.add(new Option(names[library],names[library]));
			}
			function getLibrary() {
				var library = document.getElementById('libraries').value;
				var libraries_module = document.getElementById('libraries_module').attributes["value"].value;
				var modules = libraries_module.split("[");
				var module_display = new Array();
				for (var i = 2;i < modules.length;i++) {
					var tmp_modules = modules[i].split("]");
					module_display[i - 2] = tmp_modules[0];
				}
				var module_name = new Array();
				for (var i = 0;i < module_display.length;i++) {
					module_name[i] = module_display[i].split(",");
				}
				var libraries_name = new Array();
				for (var i = 0;i < module_display.length;i++) {
					var tmp_module_name = module_name[i][0].split("'");
					libraries_name[i] = tmp_module_name[1];
					module_name[i][0] = libraries_name[i]
				}
				var list = document.getElementById('module_list');
				for (var i = 0;i < module_display.length;i++) {
					if (library == module_name[i][0]) {
						for (var j = 1;j < module_name[i].length;j++) {
							var newbox = document.createElement('input');
							combine_name = module_name[i][j].split("\'");
							display_name = combine_name[1].split("&");
							newbox.type = 'checkbox';
							newbox.name = display_name[0];
							newbox.value = display_name[1];
							list.appendChild(newbox);
							list.appendChild(document.createTextNode(' ' + display_name[0]));
							var br = document.createElement("br");
							list.appendChild(br);
						}
						var newbutton = document.createElement('input');
						newbutton.type = 'submit';
						newbutton.name = 'submit_button';
						newbutton.value = 'Add to List';
						list.appendChild(newbutton);
					}
				}
			}
		</script>
		<button type="button" onclick="getLibrary()">Show Modules</button>
	</p>
	<p>
		Modules: <br />
		<script>
			function moduleSubmit() {
				var list = document.getElementById('module_list');
				var insert_list = document.getElementById('module_chosen');
				var repo_name = document.getElementById('libraries').value;
				//alert(repo_name);
				var post_name = document.createElement('input');
				post_name.type = "hidden";
				post_name.name = "repo_name";
				post_name.value = repo_name;
				insert_list.appendChild(post_name);
				var count = 0;
				for (var i = 0;i < list.length - 1;i++) {
					if (list[i].checked == true) {
						count++;
					}
				}
				//alert(count);
				var post_count = document.createElement('input');
				post_count.type = "hidden";
				post_count.name = "count";
				post_count.value = count;
				insert_list.appendChild(post_count);
				count = 0;
				for (var i = 0;i < list.length - 1;i++) {
					if (list[i].checked == true) {
						var newline = document.createElement('input');
						var show_name = list[i].name;
						newline.type = "hidden";
						newline.name = "list" + count;
						newline.value = list[i].value;
						insert_list.appendChild(newline);
						insert_list.appendChild(document.createTextNode(show_name));
						var br = document.createElement("br");
                                                insert_list.appendChild(br);
						count++;
					}
				}
				var newbutton = document.createElement('input');
				newbutton.type = 'submit';
				newbutton.id = 'submit_chosen_modules';
				newbutton.value = 'Submit';
				insert_list.appendChild(newbutton);
			}
		</script>
		<form id="module_list" method="GET" action="javascript:moduleSubmit();">
		</form>
	</p>
	<p>
		Chosen modules: <br />
		</script>
		<form id="module_chosen" method="GET" action="${course_insert_url}">
		</form>
		<br />
		<p id='button_view'>
		</p>
	</p>
      </div>
    </article>
  </section>
</div>
</%block>
